# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
backend/db.sqlite3
backend/media/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Env
.env
.env.local
.env.*.local

# Docker
*.log
backend/staticfiles/
